aniso8601==8.1.0
beautifulsoup4==4.9.3
certifi==2023.7.22
chardet==3.0.4
click==7.1.2
coverage==5.3
cycler==0.10.0
docker==4.2.2
Flask==1.1.1
Flask-Injector==0.12.3
Flask-JWT==0.3.2
Flask-JWT-Extended==3.0.0
flask-marshmallow==0.10.1
flask-mongoengine==0.9.5
Flask-REST==1.3
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
Flask-Limiter==1.5
limits==1.5.1
typing-extensions==3.7.4.3
idna==2.10
injector==0.18.4
itsdangerous==1.1.0
jinja2>=2.11.3
kiwisolver==1.3.1
MarkupSafe==1.1.1
marshmallow==3.3.0
marshmallow-sqlalchemy==0.21.0
matplotlib==3.4.3
mongoengine==0.22.1
numpy==1.22.4
pandas==1.2.0
passlib==1.7.2
pdfkit==0.6.1
psycopg2==2.9.1
ptvsd==4.3.2
PyJWT==1.4.2
pymongo==3.10.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.1
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.3.11
typing-extensions==3.7.4.3
urllib3==1.26.5
websocket-client==0.59.0
Werkzeug==1.0.1
WTForms==2.3.3
./report
./libs/qlib-0.1.0-py3-none-any.whl