# Byte-compiled / optimized / DLL files
__pycache__/

# work Directory
work/

# tds_results Directory
tds_results/
db_td_results/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/